.cardList {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-left: 90px;
  flex-direction: row;
  flex-wrap: wrap;
 
}
@media (max-width:414px){
  .cardList{
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    width: 414px;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 10px;
  }
  .cardList::-webkit-scrollbar {
    width: 0 !important; 
  }
}