.btn{
    display: inline-flex;
    height: 40px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background:var(--grey-4) ;
    color: var( --grey-6);
    border: none;
}
.btn:hover{
    background:var(--color-primary);
    
}