:root{
    --font-primary:'Inter', sans-serif;
    --color-primary:#27AE60;
    --color-primary-2:#E34981;
    --color-secondary:#03B898;
    --grey-300:#828282;
    --grey-100:#E0E0E0;
    --grey-0:#F5F5F5;
    --grey-2:#27AE60;
    --grey-3:#828282;
    --grey-4:#BDBDBD;
    --grey-5:#333333;
    --grey-6:#FFFFFF;
    --grey-7:#333333, #EB5757;
    --grey-8:#BDBDBD;
    --grey-9:#000000;
    --grey-10:#F5F5F5;
    --grey-11:#212529;
    --grey-12:#FD377E, #FFFFFF;
    --grey-13:#00000040;
}